Repository christaylorau23/PAKE_SYSTEM_claude_optimized: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hardcoded-secrets, validate-secrets-manager-usage

.pre-commit-config.yaml:

# Pre-commit hooks for PAKE System
# Prevents hardcoded secrets from being committed

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            .*\.lock$|
            .*\.log$|
            .*\.tmp$|
            .*test.*|
            .*example.*|
            .*\.md$|
            README.*|
            docs/.*|
            examples/.*|
            tests/.*|
            test/.*
          )$

  - repo: local
    hooks:
      - id: check-hardcoded-secrets
        name: Check for hardcoded secrets
        entry: python scripts/check_hardcoded_secrets.py
        language: system
        files: \.(py|js|ts|yaml|yml|json)$
        exclude: |
          (?x)^(
            .*test.*|
            .*example.*|
            .*\.md$|
            README.*|
            docs/.*|
            examples/.*|
            tests/.*|
            test/.*|
            .*\.lock$|
            .*\.log$
          )$

      - id: validate-secrets-manager-usage
        name: Validate secrets manager usage
        entry: python scripts/validate_secrets_manager.py
        language: system
        files: \.py$
        exclude: |
          (?x)^(
            .*test.*|
            .*example.*|
            .*\.md$|
            README.*|
            docs/.*|
            examples/.*|
            tests/.*|
            test/.*
          )$

🏗️ ARCHITECTURAL REFINEMENT: Single Responsibility Principle Implementation
  ARCHITECTURAL_REFINEMENT_SRP_IMPLEMENTATION.md
  security/secrets_manager.py
  tests/test_secrets_manager_refactoring.py
Due: check-hardcoded-secrets, validate-secrets-manager-usage

BUSINESS CASE: Architectural Refactoring ROI and Implementation Guide
  ARCHITECTURAL_REFACTORING_PLAYBOOK.md
  BUSINESS_CASE_ARCHITECTURAL_REFACTORING.md
Due: none

feat: comprehensive code hygiene improvements and security fixes
  CODE_HYGIENE_IMPROVEMENTS_SUMMARY.md
  PR_1088_FINAL_STATUS.md
  security/secrets_manager.py
  src/api/enterprise/multi_tenant_server.py
  src/services/base/auth.py
  src/services/curation/integration/curation_orchestrator.py
  src/utils/error_handling.py
  src/utils/exceptions.py
Due: check-hardcoded-secrets, validate-secrets-manager-usage

feat: implement comprehensive security scanning and CI/CD pipeline
  .github/workflows/ci-cd.yml
  .github/workflows/security-scan.yml
  .pre-commit-config.yaml
  .secrets.baseline
  SECURITY_SCANNING_SETUP.md
Due: check-hardcoded-secrets

docs: Add comprehensive merge to main commands and status
  MERGE_TO_MAIN_COMMANDS.md
Due: none

feat: Add enterprise core modules for PAKE System
  src/pake_system/core/__init__.py
  src/pake_system/core/cache.py
  src/pake_system/core/config.py
  src/pake_system/core/logging_config.py
Due: check-hardcoded-secrets, validate-secrets-manager-usage

fix: Add missing __init__.py for pake_system module
  src/pake_system/__init__.py
Due: check-hardcoded-secrets, validate-secrets-manager-usage

Update GitOps configuration for production environment
  k8s/helm/pake-system/values-production.yaml
Due: check-hardcoded-secrets

fix: Resolve mypy.ini parsing error, missing imports, and type annotations
  .pre-commit-config.yaml
  mypy.ini
  src/ai-security-monitor.py
  src/cosmic_calibration_demo.py
  src/cosmic_demo.py
  src/pake.py
  src/services/agents/arxiv_worker.py
  src/services/caching/redis_cache_strategy.py
  src/services/cognitive/cosmic_calibration_coordinator.py
Due: check-hardcoded-secrets, validate-secrets-manager-usage

fix: Update database user from postgres to test_user in CI/CD workflows
  src/services/auth/src/config/auth.config.ts
  tests/e2e/test_complete_workflows.py
  tests/integration/test_service_interactions.py
Due: check-hardcoded-secrets

Phase 7.1: Complete Poetry dependency management overhaul
  .github/dependabot.yml
  .github/workflows/async-debug-testing.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-cicd.yml
  .github/workflows/dal-integration-tests.yml
  .github/workflows/dast-security-scan.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-build.yml
  .github/workflows/enhanced-cicd.yml
  .github/workflows/fault-injection-tests.yml
  .github/workflows/filesystem-diagnostics.yml
  .github/workflows/frontend-secure-build.yml
  .github/workflows/poetry-dependency-management.yml
  .github/workflows/quality.yml
  .gitignore
  PRE_COMMIT_HOOKS_IMPLEMENTATION_SUMMARY.md
  QUALITY_GATES_IMPLEMENTATION_SUMMARY.md
  SYSTEMATIC_STABILIZATION_PULL_REQUEST.md
  docker-compose.ci-simulation.yml
  docker-compose.macos-ci.yml
  docker-compose.windows-ci.yml
  poetry.lock
  pyproject.toml
  security_gate_config.yaml
  security_triage_config.yaml
  src/services/analytics/intelligence_insight_service.py
  src/services/connectors/src/DBConnector.ts
  src/services/ingestion/production_orchestrator.py
  src/services/observability/telemetry.py
Due: check-hardcoded-secrets, validate-secrets-manager-usage

feat: Add comprehensive roadmap for remarkable development strides
  REMARKABLE_DEVELOPMENT_ROADMAP.md
Due: none
